{% extends "common/base.html" %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/neworder.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/file_upload.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'common/css/input_styles.css' %}" />
{% endblock %}
{% block content %}
<div class="content">
  <div class="wrapper top-bar">
    <div class="top-bar-container">
      <div class="left-bar-content">
        <span class="tablinks" onclick="openNestedTab(event, 'profileSection')" id="defaultNestedOpen">
          <span id="profile" class="light-green"><i class="far fa-user-circle"></i> <span class="hide-on-med-and-down"> Profile</span></span>
        </span>
        <span class="tablinks" onclick="openNestedTab(event, 'ordersSection')">
          <span class="light-green"><i class="far fa-folder"></i> <span class="hide-on-med-and-down"> Orders</span></span>
        </span>
        <span class="tablinks" onclick="openNestedTab(event, 'balanceSection')">
          <span class="light-green"><i class="fas fa-dollar-sign"></i><span class="hide-on-med-and-down"> Balance</span><span class="balance"> 0.00</span></span>
        </span>
        <span class="tablinks" onclick="openNestedTab(event, 'supportSection')">
          <span class="light-green"><i class="fas fa-headset"></i><span class="hide-on-med-and-down"> Support</span></span>
        </span>
      </div>
      <div class="right-bar-content">
        <span class="tablinks" onclick="openNestedTab(event, 'newOrderSection')">
          <span class="light-blue"><i class="fas fa-plus" id="new-order-icon"></i><span class="hide-on-med-and-down"> New Order</span></span>
        </span>
      </div>
    </div>
  </div>

  <div class="wrapper nestedTabContent" id="profileSection">
        <div class="profile-container">

          <div class="profile-header">
            <h3 id="page-head">Your Profile</h3>
            <p id="user-time">Your time zone is: UTC +03:00</p>
          </div>

          <div class="profile-content">
            <!-- Tab links -->
            <div class="tab">
              <button class="tablinks light-blue" onclick="openTab(event, 'settings', 'Your Profile')" id="defaultOpen">Profile Settings</button>
              <button class="tablinks light-blue" onclick="openTab(event, 'history', 'Order History')" id="historyBtn">Orders History</button>
              <button class="tablinks light-blue" onclick="openTab(event, 'account', 'Account Settings')" id="accountBtn">Account Settings</button>
            </div>
            <!-- Tab content -->
            <div id="settings" class="tabcontent">
              <div class="avatar-container">
                <p>This is how you are seen publicly</p>
                <div class="avatar">
                  {% if user.avatar %}
                  <div class="image-upload">
                    <img src="{{ MEDIA_URL }}{{ user.avatar.url }}" alt="Avatar" id="no-img">
                    <span id="change-avatar-icon" onclick="openFormContainer(event, 'avatar-form-container', 'change-avatar-icon')"><p class="action-text orange">Change Avatar </p><i class="fas fa-pen-fancy green"></i></span>
                    <div class="avatar-form-container">
                      <form method="post" id="avatar-form" enctype="multipart/form-data" action="{% url 'authentication:avatar' %}" class="profile-form">
                        {% csrf_token %}
                        <div class="errors">
                          {% if avatar_update_form.non_field_errors %}
                              {% for error in avatar_update_form.non_field_errors %}
                                  <strong>{{ error|escape }}</strong>
                              {% endfor %}
                          {% endif %}
                        </div>
                        <div class="input-row">
                          <label for="id_avatar" class="custom-file-upload">
                            <i class="fas fa-upload"></i> Choose File
                          </label>
                          <input type="file" name="avatar" accept="image/*" id="id_avatar" class="form-trigger">
                        </div>
                        <div class="errors">
                          {% if avatar_update_form.avatar.errors %}
                              {% for error in avatar_update_form.avatar.errors %}
                                  <strong>{{ error|escape }}</strong>
                              {% endfor %}
                          {% endif %}
                        </div>
                        <div class="input-row">
                          <span class="bg-light-green btn-link" onclick="closeForm(event, 'avatar-form-container', 'change-avatar-icon')">Cancel</span>
                        </div>
                      </form>
                    </div>
                  </div>
                  {% else %}
                  <div class="image-upload">
                    <img src="{% static 'res/avatar.svg.png' %}" alt="Avatar" id="no-img">
                    <span id="change-avatar-icon" onclick="openFormContainer(event, 'avatar-form-container', 'change-avatar-icon')"><p class="action-text orange">Change Avatar </p><i class="fas fa-pen-fancy green"></i></span>
                    <div class="avatar-form-container">
                      <form method="post" id="avatar-form" enctype="multipart/form-data" action="{% url 'authentication:avatar' %}" class="profile-form">
                        {% csrf_token %}
                        <div class="errors">
                          {% if avatar_update_form.non_field_errors %}
                              {% for error in avatar_update_form.non_field_errors %}
                                  <strong>{{ error|escape }}</strong>
                              {% endfor %}
                          {% endif %}
                        </div>
                        <div class="input-row">
                          <label for="id_avatar" class="custom-file-upload">
                            <i class="fas fa-upload"></i> Choose File
                          </label>
                          {{ avatar_update_form.avatar }}
                        </div>
                        <div class="errors">
                          {% if avatar_update_form.avatar.errors %}
                              {% for error in avatar_update_form.avatar.errors %}
                                  <strong>{{ error|escape }}</strong>
                              {% endfor %}
                          {% endif %}
                        </div>
                        <div class="input-row">
                          <span class="bg-light-green btn-link" onclick="closeForm(event, 'avatar-form-container', 'change-avatar-icon')">Cancel</span>
                        </div>
                      </form>
                    </div>
                  </div>
                  {% endif %}
                  <div class="summary">
                    <p><b>#userid</b></p>
                    <p>0 orders completed</p>
                  </div>
                </div>
              </div>

              <div class="change-email">
                <p><b>Email/Login:</b> {{ user.email }}</p>
                <span id="email-info"><i class="fas fa-info green"></i> <p>Your Email is only visible to you</p></span>
                <div class="change-form">
                  <span id="change-email-icon" onclick="openFormContainer(event, 'email-form-container', 'change-email-icon')"><p class="action-text orange">Change Email </p><i class="fas fa-pen-fancy green"></i></span>
                  <div class="email-form-container">
                    <form method="post" class="styled-form" autocomplete="off" class="profile-form">
                      {% csrf_token %}
                      <div class="errors">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                      </div>
                      <div class="input-row">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Current password">
                      </div>
                      <div class="errors">
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                      </div>
                      <div class="input-row">
                        <label for="email">New Email</label>
                        <input type="email" name="email" id="email" placeholder="New email">
                      </div>
                      <div class="errors">
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                      </div>
                      <div class="buttons">
                        <button type="submit" class="bg-light-green">Save</button>
                        <span class="bg-light-green btn-link" onclick="closeForm(event, 'email-form-container', 'change-email-icon')">Cancel</span>
                      </div>
                    </form>
                    <div class="change-email-warning">
                      <div class="warning-container orange">
                        <p><i class="fas fa-info"></i><b>Warning</b></p>
                        <p>
                          Your old email won’t be valid once the new email is saved.
                          You will also have to login again with your new credentials.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="change-password">
                <div class="change-form">
                  <span id="change-password-icon" onclick="openFormContainer(event, 'password-form-container', 'change-password-icon')"><p class="action-text orange">Change Password </p><i class="fas fa-pen-fancy green"></i></span>
                  <div class="password-form-container">
                    <form method="post" autocomplete="off" class="styled-form profile-form">
                      {% csrf_token %}
                      <div class="errors">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                      </div>
                      <div class="input-row">
                        <label for="password1">Old Password</label>
                        <input type="password" name="password1" id="password1" placeholder="Old Password">
                      </div>
                      <div class="errors">
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                      </div>
                      <div class="input-row">
                        <label for="password2">New Password</label>
                        <input type="password" name="password2" id="password2" placeholder="New Password">
                      </div>
                      <div class="input-row">
                        <ul>
                          <li>Password must contain at least 8 characters</li>
                          <li>Include at least 1 letter</li>
                          <li>Include at least 1 number or special character</li>
                        </ul>
                      </div>
                      <div class="errors">
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                      </div>
                      <div class="buttons">
                        <button type="submit" class="bg-light-green">Save</button>
                        <span class="bg-light-green btn-link" onclick="closeForm(event, 'password-form-container', 'change-password-icon')">Cancel</span>
                      </div>
                    </form>
                    <div class="change-email-warning">
                      <div class="info-container">
                        <p><i class="fas fa-info"></i><b>info</b></p>
                        <p>
                          Check your email for your password.
                          On Feb 23, 2021 your password was sent in an email with the subject “Welcome to SwiftWriters!”.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="set-terms">
                <span>
                  <input type="checkbox" id="marketing" name="marketing" value="true" checked>
                  <label for="marketing"> Subscribe to getting email marketing newsletters</label><br>
                </span>
                <span>
                  <input type="checkbox" id="sound" name="sound" value="false">
                  <label for="sound"> Turn on sound notification</label><br>
                </span>
              </div>

              <div class="terms">
                <span>You have agreed to our <a href="#" class="light-green">Terms and conditions</a> and <a href="#" class="light-green">Privacy Policy </a>on put date here#</span>
              </div>
            </div>

            <div id="history" class="tabcontent">
              <h3>sing, always</h3>
              <p>why do all good things come to an end</p>
            </div>

            <div id="account" class="tabcontent">
              <div class="account-container">
                <a href="#!" class="account-link"><i class="far fa-times-circle"></i> Delete Account</a>
              </div>
            </div>

          </div>

        </div>
  </div>
  <div class="wrapper nestedTabContent" id="ordersSection">order section</div>
  <div class="wrapper nestedTabContent" id="balanceSection">balance section</div>
  <div class="wrapper nestedTabContent" id="supportSection">support section</div>
  <div class="wrapper nestedTabContent" id="newOrderSection">
    <div class="nestedTabContentWrapper">
      <div class="section-head">
        <h3 class="section-heading">Submit your order details</h3>
      </div>
      <div class="order-sequence">
        <ul>
          <li class="green"><span class="iteration bg-green">1</span> <span class="hide-on-med-and-down">Submit instructions</span></li>
          <li><i class="fas fa-chevron-right green"></i></li>
          <li><span class="iteration">2</span> <span class="hide-on-med-and-down">Pay</span></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><span class="iteration">3</span> <span class="hide-on-med-and-down">Contact writer</span></li>
          <li><i class="fas fa-chevron-right"></i></li>
          <li><span class="iteration">4</span> <span class="hide-on-med-and-down">Track progress</span></li>
        </ul>
      </div>
      <div class="fill-order-details" id="droppable-area">
        <form class="order-details-form" enctype="multipart/form-data" method="POST" action="{% url 'order:order' %}" id="droppable-area">
          {% csrf_token %}
          <div class="form-row">
            <div class="left-form-content">{{ order_form.topic.label }}</div>
            <div class="right-form-content">
              {{ order_form.topic }}
            </div>

          </div>
          <div class="form-row">
            <div class="left-form-content">{{ order_form.type_of_paper.label }}</div>
            <div class="right-form-content">
              {{ order_form.type_of_paper }}
            </div>
          </div>
          <div class="form-row">
            <div class="left-form-content">{{ order_form.discipline.label }}</div>
            <div class="right-form-content">
              {{ order_form.discipline }}
            </div>
          </div>
          <div class="form-row">
            <div class="left-form-content">{{ order_form.no_of_pages.label }}</div>
            <div class="right-form-content">
              <span class="pages-container">
                {{ order_form.no_of_pages }}
                {{ order_form.words }}
                <span class="words-container" id="words-container"><span id="words">275</span> words (double spaced)</span>
                <span id="or-words" class="padded-container">or words</span>
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="left-form-content">{{ order_form.due_date.label }}</div>
            <div class="right-form-content">
              <div class="due-date-container">
                {{ order_form.due_date }}
                <span id="at"><b>at</b></span>
                {{ order_form.due_time }}
                <span id="time-left-container"><span id="time-left"></span></span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="left-form-content">
              {{ order_form.academic_level.label }}
            </div>
            <div class="right-form-content">
              {{ order_form.academic_level }}
            </div>
          </div>
          <div class="info-row bluish-bgc">
            <p>Get bids only from verified writers matching your academic level.</p>
          </div>
          <div class="form-row">
            <div class="left-form-content">
              Citation / format
            </div>
            <div class="right-form-content">
              <div class="citation-container">
                <div class="citation-selection">
                  <span class="citation padded-container" id="mla" onclick="getCitation(event, 'mla')">MLA</span>
                  <span class="citation padded-container active" id="apa6" onclick="getCitation(event, 'apa6')">APA 6</span>
                  <span class="citation padded-container" id="apa7" onclick="getCitation(event, 'apa7')">APA 7</span>
                  <span class="citation padded-container" id="chicago" onclick="getCitation(event, 'chicago')">Chicago / Turabian</span>
                  <span class="citation padded-container" id="not-applicable" onclick="getCitation(event, 'not-applicable')">Not Applicable</span>
                  <span class="citation padded-container" id="other-citation">Other</span>
                </div>
                {{ order_form.citation }}
              </div>
            </div>
          </div>
          <div class="info-row">
            {{ order_form.description }}
          </div>
          <div id="drop-area">
            <p id="upload-message"><span><label for="fileElem" class="file-elem-label green">Choose files</label></span> or drag them here</p>
            <input type="file" id="fileElem" multiple onchange="handleFiles(this.files)" >
            <p id="file-size-message">Size of file uploaded should not exceed 50 Mb.</p>
          </div>
          <div class="image-upload-row">
            <div id="gallery"></div>
            <progress id="progress-bar" max=100 value=0></progress>
          </div>
          <div class="info-row">
            <button class="button bg-green" type="submit">Submit your paper details</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="{% static 'js/profile/profile.js' %}"></script>
<script src="{% static 'js/profile/file_upload.js' %}"></script>
{% endblock %}