<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding: 20px;background-color: #F8F8F8;">
        <h2 style="font-weight: 700;border-radius: 5px;background-color: white;font-size: 1.4rem;padding: 5px;">Dear Customer,</h2>
        <div style="border-radius: 5px;background-color: white;padding: 5px;">
            <p>
                You have just registered on <a href="{{protocol}}://{{login_link}}" style="color: green;">Swift Writers</a> with the following login details:
            </p>
            <p>Login {{email}}</p>
            <p>Password {{password}}</p>
            <p>
                To finish placing your first order, simply complete the remaining fields of the form
                and start chatting with writers without any advance payment!
            </p>
            <p>
                Have any questions about how we operate? <a href="{{protocol}}://{{support_link}}" style="color: green;">Contact our Support Team</a> 24/7.
            </p>
            <p>
                You've been subscribed to getting company news, product & feature updates upon registration.
                You can change your subscription status in <a href="{{protocol}}://{{profile_link}}" style="color: green;">your profile</a>.
            </p>
            <p>
                Thank you for choosing Swift Writers to help you boost your academic writing achievements!
            </p>
        </div>
    </div>
</body>
</html>