input, select, button, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 350;
}

input, select {
    width: 60%;
}

.pages-container input {
    width: 25%;
    margin-right: 10px;
}

.due-date-container {
    display: flex;
    width: 100%;
    align-items: center;
}

#at {
    width: 4%;
    text-align: center;
}

.due-date-container input, .due-date-container select {
    flex-basis: 28%;
}

.due-date-container select{
    margin-right: 2.5%;
}

select {
    padding: 6px 10px;
}

select, textarea{
    border: 0.03em solid #D3D3D3;
    outline:0px;
    background: inherit;
}

select:hover {
    cursor: pointer;
}

input {
    padding: 6px 10px;
    box-sizing:border-box;
    border: 0.03em solid #D3D3D3;
    font-size: 0.8rem;
}

input[type="file"] {
    display: none;
    visibility: hidden;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
}

input:focus::-webkit-input-placeholder{
    color: transparent;
}

input:focus, button:focus{
    outline: none;
}

input:focus, button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

input, button {
    font-weight: 400;
}

button, .btn-link {
    border: none;
    border-radius: 5px;
    padding: 8px 40px;
    font-size: 0.8rem;
}

.errors {
    color: red;
}

/* mobile only */
@media only screen and (max-width: 480px){
    button, .btn-link {
        padding: 6px 20px;
    }
}

/* ipad only */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    input, select {
        width: 80%;
    }
    #at {
        text-align: left;
        padding: 5px 0;
    }
    .due-date-container {
        flex-direction: column;
        align-items: unset;
    }
}

/* mobile only */
@media only screen and (max-width: 480px){
    input, select {
        width: 100%;
    }
    .due-date-container {
        flex-direction: column;
    }
    #at {
        text-align: left;
        padding: 5px 0;
    }
    .due-date-container {
        flex-direction: column;
        align-items: unset;
    }
}