{% extends "common/base.html" %}
{% block styles %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing_page/landing_page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/landing_page/inputs_style.css' %}" />
{% endblock %}
{% block content %}
<div class="content">
    <div class="wrapper">
        <div class="splash-container">
            <div class="splash">
                <h3>Work smarter not harder!</h3>
                <p><span><i class="fas fa-check"></i> Save time</span></p>
                <p><span><i class="fas fa-check"></i> Clear your schedule</span></p>
                <p><span><i class="fas fa-check"></i> Improve your grades</span></p>
                <p><span><i class="fas fa-check"></i> Work with your budget, we know its hard!</span></p>
            </div>
            <div class="init-form">
                <form method="post">
                    <div id="form-heading">
                        <h4>Manage your time better!</h4>
                    </div>
                    {% csrf_token %}
                    <div class="input-row">
                        {{ form.email }}
                    </div>
                    <div class="errors">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-row">
                        {{ form.academic_level }}
                    </div>
                    <div class="errors">
                        {% if form.academic_level.errors %}
                            {% for error in form.academic_level %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-row">
                        {{ form.type_of_paper }}
                    </div>
                    <div class="errors">
                        {% if form.type_of_paper.errors %}
                            {% for error in form.type_of_paper %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-row pages">
                        <span class="pages-display">
                            <span id="no-of-pages">275</span><span> words</span>
                        </span>
                        {{ form.no_of_pages }}
                    </div>
                    <div class="errors">
                        {% if form.no_of_pages.errors %}
                            {% for error in form.no_of_page %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-row">
                        <span class="datepicker-toggle">
                            <span id="cover">Select the due date</span>
                            {{ form.due_date }}
                        </span>
                    </div>
                    <div class="errors">
                        {% if form.due_date.errors %}
                            {% for error in form.due_date.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-row">
                        <p class="total-cost">Total Cost: $<span id="total-cost">9</span></p>
                    </div>
                    <div class="input-row">
                        <button type="submit">
                            <span>continue</span>
                            <i class="fas fa-angle-double-right fa-lg"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/landing_page/landing_page.js' %}"></script>
{% endblock %}