<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'resources/images/fav.png' %}" rel="shortcut icon" sizes="48x48" type="image/jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/common/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/common/footer.css' %}">
    {% endblock %}
    <title>
    {% block title %}
    Swift Writers
    {% endblock %}
    </title>
</head>
<body>
    <header>
        <nav id="stickyNav" class="sticky">
            <div class="wrapper">
                <div class="hide-on-med-and-down menu">
                    <a class="logo" href="/">
                        <img src="{% static 'resources/images/logo.png' %}" alt="logo" height="40px" width="40px">
                        <span>Swift Writers</span>
                    </a>
                    <ul class="menu-items">
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Who we are</a></li>
                        <li><a href="#">Blog</a></li>
                        {% if user.is_authenticated %}
                        <div class="dropdown-container">
                        {% if user.avatar %}
                        <li class="dropdown-trigger"><span class="order-btn bg-green"><img src="{{ MEDIA_URL }}{{ user.avatar.url }}" alt="Avatar" height="20px" width="20px"> <span class="truncate">{{ user.email }} </span><i class="fa fa-caret-down" aria-hidden="true"></i></span></li>
                        {% else %}
                        <li class="dropdown-trigger"><span class="order-btn bg-green"><img src="{% static 'res/avatar.svg.png' %}" alt="Avatar" height="20px" width="20px"> <span class="truncate">{{ user.email }} </span><i class="fa fa-caret-down" aria-hidden="true"></i></span></li>
                        {% endif %}
                            <div class="dropdown bg-green">
                                <ul>
                                    <li><a href="/accounts/profile/">Profile Settings</a></li>
                                    <li><a href="/accounts/logout/">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                        {% else %}
                        <li><a href="/accounts/login/" class="order-btn bg-green">My Account</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div class="hide-on-med-and-up">
                <div class="mobile-menu-container">
                    <a class="logo" href="/">
                        <img src="{% static 'resources/images/logo.png' %}" alt="logo" height="40px" width="40px">
                        <span>Swift Writers</span>
                    </a>
                    <i class="fas fa-bars" id="mobile-menu-icon"></i>
                </div>
                <ul class="mobile-menu-items">
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">Blog</a></li>
                    {% if user.is_authenticated %}
                    <div class="mobile-dropdown-container">
                        {% if user.avatar %}
                        <li class="mobile-order-btn"><span class="order-btn bg-green"><img src="{{ MEDIA_URL }}{{ user.avatar.url }}" alt="Avatar" height="20px" width="20px"> <span class="truncate">{{ user.email }}</span> <i class="fa fa-caret-down" aria-hidden="true"></i></span></span></li>
                        {% else %}
                        <li class="mobile-order-btn"><span class="order-btn bg-green"><img src="{% static 'res/avatar.svg.png' %}" alt="Avatar" height="20px" width="20px"> <span class="truncate">{{ user.email }}</span> <i class="fa fa-caret-down" aria-hidden="true"></i></span></span></li>
                        {% endif %}
                        <div class="mobile-dropdown bg-green">
                            <ul>
                                <li><a href="/accounts/profile/">Profile Settings</a></li>
                                <li><a href="/accounts/logout/">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <li><a href="/" class="order-btn bg-green">Order Now</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% block messages %}
    {% if messages %}
    <div class="messages" id="messages-bar">
        <div class="wrapper">
            <div class="info-icon"><i class="fas fa-info-circle"></i></div>
            <div class="messages">
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cancel-icon"><i class="far fa-times-circle" id="remove-messages-bar"></i></div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% include 'common/footer.html' %}
    {% endblock %}
    {% block scripts %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="{% static 'js/common/base.js' %}"></script>
    {% endblock %}
</body>
</html>