<div class="footer">
    <div class="wrapper">
        <div class="upper-foot-sections">
            <div class="foot-section">
                <h4>Company</h4>
                <ul class="footer-menu-items">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">User reviews</a></li>
                    <li><a href="#">Commonly asked questions</a></li>
                </ul>
            </div>
            <div class="foot-section">
                <h4>Legal</h4>
                <ul class="footer-menu-items">
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Cookie policy</a></li>
                    <li><a href="#">Confidentiality policy</a></li>
                    <li><a href="#">Money back guarantee</a></li>
                    <li><a href="#">Revision policy</a></li>
                </ul>
            </div>
            <div class="foot-section">
                <h4>Our services</h4>
                <ul class="footer-menu-items">
                    <p>This section will contain essay categories. There will only be like five categories, the rest can be seen by clicking see more.</p>
                </ul>
                <a href="#">See more >></a>
            </div>
            <div class="foot-section">
                <h4>Contacts</h4>
                <ul class="footer-menu-items" id="contact-items">
                    <li><a href="mailto:pndungu54@gmail.com.com"><i class="fas fa-envelope"></i> support@swiftwriters.com</a></li>
                    <li><i class="fas fa-phone"></i> +1(555) 555-6677</li>
                    <li><i class="fab fa-twitter"></i> twitter</li>
                    <li><i class="fab fa-facebook"></i> facebook</li>
                    <li><i class="fab fa-instagram"></i> instagram</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="payment">
            <h4>We Accept:</h4>
            <ul class="footer-menu-items" id="payment-options">
                <li><a href="https://usa.visa.com/" title="Official Visa website" target="_blank"><i class="fab fa-cc-visa fa-2x"></i></a></li>
                <li><a href="https://www.mastercard.us/en-us.html" title="Official Mastercard website" target="_blank"><i class="fab fa-cc-mastercard fa-2x"></i></a></li>
                <li><a href="https://www.paypal.com/us/home" title="Official PayPal website" target="_blank"><i class="fab fa-cc-paypal fa-2x"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="disclaimer">
            <p><b>Disclaimer:</b> <a href="/">swiftwriters</a> is an online writing service offering
                custom written papers for research purposes only. The materials provided should be
                properly acknowledged.
            </p>
        </div>
    </div>
    <div class="wrapper">
        <div class="copyright">
            <p>Copyright &copy; SwiftWriters <span id="year"></span> All Rights Reserved</p>
        </div>
    </div>
</div>